.user-profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-view {
  width: 100%;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff4500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h2 {
  margin: 0;
  font-size: 2rem;
}

.profile-info p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.edit-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  margin-left: auto;
}

.profile-details {
  margin-top: 20px;
}

.profile-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interests span {
  background-color: #ff4500;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.events-tabs {
  display: flex;
  margin-top: 20px;
}

.events-tabs button {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.events-tabs .active-tab {
  background-color: #ff4500;
  color: white;
}

.events-section {
  margin-top: 20px;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.event img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.event div {
  flex-grow: 1;
}

.event h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.event p {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #666;
}

.qr-code {
  margin-left: auto;
  padding: 10px;
  background-color: #ff4500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.2rem;
}
