.container-search-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

/* .search-input {
    width: 700px;
    padding: 10px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.filters {
    display: flex;
    gap: 20px;
}

.filter {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 40px;
}

.apply-button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #CA4721; /* Color rojo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.apply-button:hover {
    background-color: #ff3700; /* Color rojo más oscuro */
}
