.container-banner {
    position: relative; /* Necessary for absolute positioning of elements */
    width: 100%;
    height: 50vh; /* Adjust height as needed */
    overflow: hidden; /* Prevent image overflow */
  }
  
  .image-banner {
    width: 100%;
    height: 100%; /* Fill the container */
    object-fit: cover; /* Ensure images fill the container proportionally */
    transition: transform 0.5s ease-in-out; /* Smooth transition between images */
  }
  
  /* Navigation Arrows */
  .banner-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  
  .prev-arrow,
  .next-arrow {
    color: #FFFFFF;
    cursor: pointer;
    }
  
  /* Navigation Dots */
  .banner-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .banner-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  .banner-dot.active {
    background-color: #FFFFFF; /* Adjust the active dot color as needed */
  }
  
  /* Animation */
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-left {
    animation: slideLeft 0.5s ease-in-out;
  }
  
  .slide-right {
    animation: slideRight 0.5s ease-in-out;
  }
  