.footer {
    background-color: #252827;
    color: #fff;
    padding: 20px 0;
  }  
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-section ul li {
    margin: 0 30px;
    margin-top: 30px;
  }

  .footer-section ul li a{
    text-decoration: none;
    color: #fff;
  }
  .footer-section ul li a:hover{
    color: #CA4721;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  